<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308613554777-r1j6tmishsl8tpjrldfgjomctahvsbqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308613554777-r1j6tmishsl8tpjrldfgjomctahvsbqe</string>
	<key>API_KEY</key>
	<string>AIzaSyCY7Fb6UjBqqr8rJW_mE-kcbcQ2dwqdzRg</string>
	<key>GCM_SENDER_ID</key>
	<string>308613554777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPushNotifications</string>
	<key>PROJECT_ID</key>
	<string>flutter-push-notificatio-3d58f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-push-notificatio-3d58f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308613554777:ios:12f801c09e33fde42a0748</string>
</dict>
</plist>